/* HERO */

.checkout-hero {

    height: 320px;

    background:
        linear-gradient(rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)),
        url("../img/hero.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    color: white;

    padding: 20px;
}

.checkout-hero h1 {

    font-size: 54px;

    margin-bottom: 15px;
}

.checkout-hero p {

    font-size: 20px;

    color: rgba(255, 255, 255, 0.9);
}

/* CONTAINER */

.checkout-container {

    display: flex;

    gap: 30px;

    padding: 70px;

    align-items: flex-start;
}

/* LISTA */

.checkout-lista {

    flex: 2;

    background: white;

    padding: 30px;

    border-radius: 24px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

/* RESUMEN */

.checkout-resumen {

    flex: 1;

    background: white;

    padding: 30px;

    border-radius: 24px;

    position: sticky;

    top: 120px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

/* TITULOS */

.checkout-resumen h2,
.checkout-resumen h3 {

    margin-bottom: 20px;

    color: #111;
}

/* PRECIO */

.checkout-resumen .precio {

    font-size: 38px;

    font-weight: bold;

    color: #14b8a6;

    margin: 25px 0;
}

/* INPUTS */

.checkout-resumen input,
.checkout-resumen select {

    width: 100%;

    padding: 14px;

    margin-top: 10px;
    margin-bottom: 15px;

    border: 1px solid #ddd;

    border-radius: 12px;

    font-size: 15px;
}

/* BOTONES */

.checkout-resumen button {

    width: 100%;

    background: #14b8a6;

    color: white;

    border: none;

    padding: 15px;

    border-radius: 14px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.checkout-resumen button:hover {

    background: #0f9f90;

    transform: translateY(-2px);
}

/* ITEM CARRITO */

.item-carrito {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 18px 0;

    border-bottom: 1px solid #eee;
}

.info p {

    color: gray;

    margin-top: 5px;
}

/* RESPONSIVE */

@media(max-width: 900px) {

    .checkout-container {

        flex-direction: column;

        padding: 30px 20px;
    }

    .checkout-lista,
    .checkout-resumen {

        width: 100%;
    }

    .checkout-hero h1 {

        font-size: 38px;
    }
}